<main class='p-4'>
  <div lang='fr' class='card card-dark p-4 m-4'>
    <a class='link' href='#test'>Click me</a>
  </div>

  <div lanf='en' id='test' class='card card-dark p-4 m-4'>
    <input />
  </div>
</main>