#test:target {
  color: red;
}

.link:link {
  color: blueviolet;
}

.link:hover {
  color: rgb(255, 233, 30);
}

.link:active {
  color: rgb(13, 1, 85);
}

input {
  background: rgb(170, 168, 32);
}

input:focus {
  background-color: rgb(93, 89, 116);
}

.card:focus-within {
  background-color: rgb(71, 207, 139);
}

.card:lang(fr) {
  background-color: rgb(153, 206, 179);
}
